
prep-yasmf.sh
*/platforms
*/plugins
*/hooks
*/.cordova
*/www/.idea
*/.idea
*.swp
*sublime*
caverunner2/www/js/app.js


filerv7/android.index.html

filerv7/merges/android/oldindex.html

filerv4/www.zip

*.zip
