/**
 * Filer v1 Styles
 */

body
{
  background-color: #f1eee5;
}
body.android
{
  background-color: #e7ece6;
}

.ui-tint-color
{
  color: #45bc64; 
}
.android .ui-tint-color
{
  color: #484848;
}
.ui-tint-color:active
{
  color: rgba(69,188,100,0.5);
}
.android .ui-tint-color:active
{
  color: rgba(72,72,72, 0.5);
}

.ui-background-tint-color
{
  background-color: #45bc64; 
}
.android .ui-background-tint-color
{
  background-color: #484848;
}

.ui-background-tint-color:active
{
  background-color: rgba(69,188,100,0.5);
}
.android .ui-background-tint-color:active
{
  background-color: rgba(72,72,72, 0.5);
}

.ui-navigation-bar
{
  border-bottom: 1px solid rgba(87, 52, 32, 0.25);
}
.android .ui-navigation-bar
{
  -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  border-bottom: 0;
  background-color: #d7dcd6;
}
.ui-tool-bar
{
  border-top: 1px solid rgba(87, 52, 32, 0.25);
}
.android .ui-tool-bar
{
  border-top: 0;
  -webkit-box-shadow: 0px -2px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px -2px 5px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px -2px 5px rgba(0,0,0,0.2);
  box-shadow: 0px -2px 5px rgba(0,0,0,0.2);
  background-color: #d7dcd6;
}

.android .ui-container.left-side
{
  border-right: 1px solid #484848;
}

.ui-back-button::before
{
  background-color: #45bc64;
}
.android .ui-back-button::before
{
  background-color: #484848;
}
.android .ui-back-button
{
  color: transparent;
}



.noteListView, .noteEditView
{
  background-color: #f1eee5;
  color: #573920; /*rgba (87, 52, 32)*/
}
.android .noteListView, .android .noteEditView
{
  background-color: #e7ece6;
  color: #484848;
}
.noteListView { z-index: 10; }
.noteEditView { z-index: 20; }

.noteListView .ui-list-item
{
  overflow: auto; /* so we don't have to clear */
  border-bottom: 1px solid rgba(87,52, 32, 0.25);
}
.android .noteListView .ui-list-item
{
  border-bottom: 1px solid rgba(72, 72, 72, 0.25);
  z-index: 1;
}
.noteListView .ui-list-item-contents
{
  background-color: #f1eee5;
}
.android .noteListView .ui-list-item-contents
{
  background-color: #e7ece6;
}

.noteListView .ui-list-item:active,
.noteListView .ui-list-item-contents:active
{
  background-color: rgba(58, 97, 154, 1);
}
.android .noteListView .ui-list-item:active,
.android .noteListView .ui-list-item-contents:active
{
  background-color: #f7fcf6;
}




.noteListView .ui-list-item .note-representation
{
  background-color: rgba(87,52, 32, 0.5);
  float: left;
  height: 30px;
  width: 30px;
}
.android .noteListView .ui-list-item .note-representation
{
  background-color: #484848;
}

.noteListView .ui-list-item:active .note-representation
{
  background-color: rgba(255, 255, 255, 0.5);
}
.android .noteListView .ui-list-item .note-representation
{
  background-color: #484848;
}
.android .noteListView .ui-list-item .note-representation.ui-glyph-page-text-new
{
  background-color: #33B5E5;
}
.android .noteListView .ui-list-item .note-representation.ui-glyph-sound-wave
{
    background-color: #AA66CC;
}
.android .noteListView .ui-list-item .note-representation.ui-glyph-photo
{
    background-color: #FFBB33;
}
.android .noteListView .ui-list-item .note-representation.ui-glyph-film
{
    background-color: #99CC00;
}



.noteListView .ui-list-item .note-name
{
  font-size: 25px;
  line-height: 30px;
  font-weight: 200;
  margin-right: 35px;
  margin-left: 40px;
}
.noteListView .ui-list-item:active .note-name
{
    color: #FFFFFF;
}

.android .noteListView .ui-list-item:active .note-name
{
  color: #242424;
}


.noteListView .ui-list-item .note-modified-date
{
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: rgba(87, 52, 32, 0.5);
  float: left;
}
.android .noteListView .ui-list-item .note-modified-date
{
  color: #606060;
}
.noteListView .ui-list-item:active .note-modified-date,
.noteListView .ui-list-item:active .note-info
{
    color: rgba(255,255,255,0.5);
}
.android .noteListView .ui-list-item:active .note-modified-date,
.android .noteListView .ui-list-item:active .note-info
{
  color: #242424;
}



.noteListView .ui-list-item .note-info
{
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: rgba(87, 52, 32, 0.5);
  float: right;
}
.android .noteListView .ui-list-item .note-info
{
  color: #606060;
}

.noteListView .ui-list-item .ui-indicator
{
  background-color: rgba(87,52, 32, 0.5);
}
.android .noteListView .ui-list-item .ui-indicator
{
  background-color: #484848;
}
.noteListView .ui-list-item:active .ui-indicator
{
  background-color: #FFFFFF;
}
.android .noteListView .ui-list-item:active .ui-indicator
{
  background-color: #242424;
}

.noteEditView .ui-navigation-bar .ui-title, .noteEditView .ui-text-box
{
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.noteEditView .ui-navigation-bar .ui-title
{
  left: 70px;
  right: 70px;
  overflow: hidden;
  white-space: nowrap;
}
.android .noteEditView .ui-navigation-bar .ui-title
{
  left: 20px;
}

.noteEditView .ui-back-button::before
{
  background-color: #45bc64;
}
.android .noteEditView .ui-back-button::before
{
  background-color: #484848;
}
.android .ui-back-button
{
  color: transparent;
}


.noteEditView .ui-text-box
{
  min-height: 100%;
  line-height: 1.25em;
  display:block;
  border:0;
  background-color:transparent;
  padding:10px;
  margin:0;
  box-sizing:border-box;
  width:100%;
  font-family: -apple-system-font, "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-size:20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  color: #573920;
  line-height: 1.5em;
  font-weight: 200;
  height: 100%;
  border-radius: 0;
}
.android .noteEditView .ui-text-box
{
  font-family: "Roboto", "DroidSans", Helvetica, Arial, Sans-Serif;
  color: #484848;
}
